@import "../../mixins.scss";

.app-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    background-color: #dedede;
    border-radius: 10px;
    margin-top: 80px;
    overflow: hidden;
    font-family: 'Space Grotesk', sans-serif;
}
@include desktop() {
    .app-component {
        display: flex;
        flex-direction: row;
        max-width: 700px;
    }
}

.app-component__city-weather {
    margin: 20px;
}